<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication13</title>

    <link href="~/font/iconsmind-s/css/iconsminds.css" rel="stylesheet" />

    <link href="~/font/iconsmind-s/css/iconsminds.css" rel="stylesheet" />
    <link href="~/font/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />
    <link href="~/css/vendor/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/vendor/bootstrap.rtl.only.min.css" rel="stylesheet" />
    <link href="~/css/vendor/perfect-scrollbar.css" rel="stylesheet" />
    <link href="~/css/vendor/baguetteBox.min.css" rel="stylesheet" />
    <link href="~/css/vendor/bootstrap-stars.css" rel="stylesheet" />
    <link href="~/css/vendor/video-js.css" rel="stylesheet" />
    <link href="~/css/vendor/component-custom-switch.min.css" rel="stylesheet" />
    <link href="~/css/css/main.css" rel="stylesheet" />



</head>
<body id="app-container" class="menu-default vertical boxed">
    <header>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    @RenderSection("Scripts", required: false)

    <script src="~/js/vendor/jquery-3.3.1.min.js" asp-append-version="true"></script>
    <script src="~/js/vendor/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/vendor/perfect-scrollbar.min.js" asp-append-version="true"></script>
    <script src="~/js/vendor/bootstrap-datepicker.js" asp-append-version="true"></script>
    <script src="~/js/vendor/baguetteBox.min.js" asp-append-version="true"></script>
    <script src="~/js/vendor/jquery.barrating.min.js" asp-append-version="true"></script>
    <script src="~/js/vendor/video.js" asp-append-version="true"></script>
    <script src="~/js/dore.script.js" asp-append-version="true"></script>
    <script src="~/js/scripts.js" asp-append-version="true"></script>
</body>
</html>
