
@{ 
    Layout= "~/Views/Shared/_LayoutAADDMMIINN.cshtml";

}
<body id="app-container" class="menu-default vertical boxed">
    <link href="~/font/iconsmind-s/css/iconsminds.css" rel="stylesheet" type="text/css"/>
    <link href="~/font/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css"/>
    <link href="~/css/vendor/bootstrap.min.css" rel="stylesheet"  type="text/css"/>
    <link href="~/css/vendor/bootstrap.rtl.only.min.css" rel="stylesheet" type="text/css"/>
    <link href="~/css/vendor/perfect-scrollbar.css" rel="stylesheet" type="text/css"/>
    <link href="~/css/vendor/baguetteBox.min.css" rel="stylesheet" type="text/css"/>
    <link href="~/css/vendor/bootstrap-stars.css" rel="stylesheet" type="text/css"/>
    <link href="~/css/vendor/video-js.css" rel="stylesheet" type="text/css"/>
    <link href="~/css/vendor/component-custom-switch.min.css" rel="stylesheet" type="text/css"/>
    <link href="~/css/main.css" rel="stylesheet" type="text/css"/>
    <nav class="navbar fixed-top">
        <div class="d-flex align-items-center navbar-left">
            <a href="#" class="menu-button d-none d-md-block">
                <svg class="main" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 17">
                    <rect x="0.48" y="0.5" width="7" height="1" />
                    <rect x="0.48" y="7.5" width="7" height="1" />
                    <rect x="0.48" y="15.5" width="7" height="1" />
                </svg>
                <svg class="sub" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 17">
                    <rect x="1.56" y="0.5" width="16" height="1" />
                    <rect x="1.56" y="7.5" width="16" height="1" />
                    <rect x="1.56" y="15.5" width="16" height="1" />
                </svg>
            </a>

            <a href="#" class="menu-button-mobile d-xs-block d-sm-block d-md-none">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 17">
                    <rect x="0.5" y="0.5" width="25" height="1" />
                    <rect x="0.5" y="7.5" width="25" height="1" />
                    <rect x="0.5" y="15.5" width="25" height="1" />
                </svg>
            </a>

        </div>

        <a class="navbar-logo" href="index.html">
            <span class="logo d-none d-xs-block"></span>
            <span class="logo-mobile d-block d-xs-none"></span>
        </a>

        <div class="navbar-right">


        </div>
     
    </nav>


    <main>
        <div class="container-fluid">


            <div class="row">
                <div class="col-12 col-md-12 col-xl-8 col-left">
                    <div class="card mb-4">
                        <div class="lightbox">
                            <a href="~/img/details/5.jpg">
                                <img alt="detail" src="~/img/details/5.jpg" class="responsive border-0 card-img-top mb-3" />
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="mb-5">
                                <h5 class="card-title">Game Changing Features</h5>
                                <p>
                                    Game Changing Features Blended value human-centered social innovation resist scale and impact issue outcomes bandwidth efficient. A; social return on investment, change-makers, support a, co-create commitment because sustainable. Rubric when vibrant black
                                    lives matter benefit corporation human-centered. Save the world, problem-solvers support silo mass incarceration. Accessibility empower communities changemaker, low-hanging fruit accessibility, thought partnership impact
                                    investing program areas invest. Contextualize optimism unprec edented challenge, empower inclusive. Living a fully ethical life the resistance segmentation social intrapreneurship efficient inspire external partners.
                                    Systems thinking correlation, social impact; when revolutionary bandwidth. Engaging, revolutionary engaging; empower communities policymaker shared unit of analysis technology inspiring social entrepreneurship. Mass
                                    incarceration, preliminary thinking systems thinking vibrant thought leadership corporate social responsibility. Green space global, policymaker; shared value disrupt segmentation social capital. Thought partnership,
                                    optimism citizen-centered commitment, relief scale and impact the empower communities circular. Contextualize boots on the ground; uplift big data, co-creation co-create segmentation youth inspire. Innovate innovate
                                    overcome injustice. Unprecedented Challenge Preliminary thinkin g systems Bandwidth efficient Green space Social impact Thought partnership Fully ethical life Revolutionary Bandwidth Blended value human-centered social
                                    innovation resist scale and impact issue outcomes bandwidth efficient. A; social return on investment, change-makers, support a, co-create commitment because sustainable. Rubric when vibrant black lives matter benefit
                                    corporation human-centered. Save the world, problem-solvers support silo mass incarceration. Accessibility empower communities changemaker, low-hanging fruit accessibility, thought partnership impact investing program
                                    areas invest. Contextualize optimism unprecedented challenge, empower inclusive. Living a fully ethical life the resistance segmentation social intrapreneurship efficient inspire external partners. Systems thinking
                                    correlation, social impact; when revolutionary bandwidth. Engaging, revolutionary engaging; empower communities policymaker shared unit of analysis technology inspiring social entrepreneurship.Mass incarceration, preliminary
                                    thinking systems thinking vibrant thought leadership corporate social responsibility. Green space global, policymaker; shared value disrupt segmentation social capital. Thought partnership, optimism citizen-centered
                                    commitment, relief scale and impact the empower communities circular. Contextualize boots on the ground; uplift big data, co-creation co-create segmentation youth inspire. Innovate innovate overcome injustice. Systems
                                    thinking correlation, social impact; when revolutionary bandwidt h.

                                    <br> Engaging, revolutionary engaging; empower communities policymaker shared unit of analysis technology inspiring social entrepreneurship. Thought partnership, optimism citizen-centered commitment, relief scale and
                                    impact the empower communities circular. Contextualize boots on the ground; uplift big data, co-creation co-create segmentation youth inspire. Innovate innovate overcome injustice. Blended value human-centered social
                                    innovation resist scale and impact issue outcomes bandwidth efficient. A; social return on investment, change-makers, support a, co-create commitment because sustainable. Rubric when vibrant black lives matter benefit
                                    corporation human -centered. Save the world, problem-solvers support silo mass incarceration. Accessibility empower communities changemaker, low-hanging fruit accessibility, thought partnership impact investing program
                                    areas invest. Contextualize optimism unprecedented challenge, empower inclusive. Living a fully ethical life the resistance segmentation social intrapreneurship efficient inspire external partners. Systems thinking
                                    correlation, social impact; when revolutionary bandwidth. Engaging, revolutionary engaging; empower communities policymaker shared unit of analysis technology inspiring social entrepreneurship. Game Changing Features
                                    But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of
                                    the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences
                                    that are extremely painful. Nor aga in is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him
                                    some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a
                                    pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure? On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized
                                    by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will,
                                    which is the same as saying through shrinki ng from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being
                                    able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures
                                    have to be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to
                                    avoid worse pains. But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the
                                    great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter
                                    consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can
                                    procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses
                                    to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure? On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and
                                    demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness
                                    of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents
                                    our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that
                                    pleasures have to be repudiated and annoyances accepted.
                                </p>

                            </div>


                        </div>
                        <div class="card">
                            <div class="card-header">
                                <ul class="nav nav-tabs card-header-tabs " role="tablist">

                                    <li class="nav-item">
                                        <a class="nav-link" id="second-tab" data-toggle="tab" href="#second" role="tab" aria-controls="second" aria-selected="false">Comments(19)</a>
                                    </li>

                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content">



                                    <div class="d-flex flex-row mb-3 border-bottom justify-content-between" id="CommentClas">
                                        <a href="#" id="imgA">
                                            <img src="~/img/profiles/l-7.jpg" alt="Mimi Carreira" class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall" />
                                        </a>
                                        <div class="pl-3 flex-grow-1">
                                            <a href="#">
                                                <p class="font-weight-medium mb-0">Mimi Carreira</p>
                                                <p class="text-muted mb-0 text-small">Two Days Ago</p>
                                            </a>
                                            <p class="mt-3">
                                                Pellentesque quis cursus mauris.
                                            </p>
                                        </div>
                                        <div class="comment-likes">
                                            <span class="post-icon">
                                                <a href="#"><span>12 Likes</span> <i class="simple-icon-heart ml-2"></i></a>
                                            </span>
                                        </div>
                                    </div>



                                    <div class="comment-contaiener">
                                        <input type="text" class="form-control" placeholder="Add a comment">
                                        <input type="text" class="form-control" placeholder="Add a comment">


                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-12 col-md-12 col-xl-4 col-right">

                    <div class="card mb-4">
                        <div class="position-absolute card-top-buttons">
                            <button class="btn btn-header-light icon-button">
                                <i class="simple-icon-refresh"></i>
                            </button>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Recent Posts</h5>
                            <div>
                                <div class="d-flex flex-row mb-3">
                                    <a class="d-block position-relative" href="#">
                                        <img src="img/products/marble-cake-thumb.jpg" alt="Marble Cake" class="list-thumbnail border-0" />
                                        <span class="badge badge-pill badge-theme-2 position-absolute badge-top-right">NEW</span>
                                    </a>
                                    <div class="pl-3 pt-2 pr-2 pb-2">
                                        <a href="#">
                                            <p class="list-item-heading">Progressively Maintain Extensive Infomediaries</p>
                                        </a>
                                    </div>
                                </div>

                                <div class="d-flex flex-row mb-3">
                                    <a class="d-block position-relative" href="#">
                                        <img src="img/products/fruitcake-thumb.jpg" alt="Fruitcake" class="list-thumbnail border-0" />
                                    </a>
                                    <div class="pl-3 pt-2 pr-2 pb-2">
                                        <a href="#">
                                            <p class="list-item-heading">
                                                Assertively Iterate Resource Maximizing
                                            </p>
                                        </a>
                                    </div>
                                </div>

                                <div class="d-flex flex-row mb-3">
                                    <a class="d-block position-relative" href="#">
                                        <img src="img/products/chocolate-cake-thumb.jpg" alt="Chocolate Cake" class="list-thumbnail border-0" />
                                    </a>
                                    <div class="pl-3 pt-2 pr-2 pb-2">
                                        <a href="#">
                                            <p class="list-item-heading">Podcasting Operational Change</p>
                                        </a>
                                    </div>
                                </div>

                                <div class="d-flex flex-row">
                                    <a class="d-block position-relative" href="#">
                                        <img src="img/products/fat-rascal-thumb.jpg" alt="Fat Rascal" class="list-thumbnail border-0" />
                                    </a>
                                    <div class="pl-3 pt-2 pr-2 pb-2">
                                        <a href="#">
                                            <p class="list-item-heading">Manufactured Products</p>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- <div class="card mb-4">
                        <div class="card-body p-0">
                            <div class="position-relative">
                                <video id="my-video" class="video-js side-bar-video card-img-top" controls preload="auto" poster="img/video/subpage-video-poster.jpg" data-setup="{}">
                                    <source
                                        src="http://distribution.bbb3d.renderfarming.net/video/mp4/bbb_sunflower_1080p_30fps_normal.mp4"
                                        type='video/mp4'>
                                </video>
                            </div>
                        </div>

                        <div class="card-body">
                            <p class="list-item-heading mb-4">Homemade Cheesecake with Fresh Berries and Mint
                            </p>
                            <footer>
                                <p class="text-muted text-small mb-0 font-weight-light">09.04.2018</p>
                            </footer>
                        </div>
                    </div> -->
                    <!-- <div class="card mb-4">
                        <div class="card-body text-center pt-5 pb-5">
                            <div>
                                <img alt="thumb" class="img-thumbnail border-0 rounded-circle mb-4 list-thumbnail mx-auto" src="img/profiles/l-7.jpg" />
                                <h5 class="mb-0 font-weight-semibold color-theme-1 mb-3">codebars</h5>
                                <select class="rating" data-current-rating="5" data-readonly="true">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                <p class="text-muted text-small">Code Quality</p>
                            </div>
                            <div class="pl-3 pr-3 pt-3 pb-0 flex-grow-1 d-flex align-items-center">
                                <p class="mb-0 ">
                                    Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains.
                                </p>
                            </div>
                        </div>
                    </div> -->

                </div>
            </div>
        </div>

    </main>

    <footer class="page-footer">
        <div class="footer-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <p class="mb-0 text-muted">2021 New Blog </p>
                    </div>
                    <div class="col-sm-6 d-none d-sm-block">
                        <!-- <ul class="breadcrumb pt-0 pr-0 float-right">
                            <li class="breadcrumb-item mb-0">
                                <a href="#" class="btn-link">Review</a>
                            </li>
                            <li class="breadcrumb-item mb-0">
                                <a href="#" class="btn-link">Purchase</a>
                            </li>
                            <li class="breadcrumb-item mb-0">
                                <a href="#" class="btn-link">Docs</a>
                            </li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- <script>
        let col12Div = document.createElement('div');
        let cardmb4Div = document.createElement('div');
        let lightbox = document.createElement('div');
        let aimgdet = document.createElement('a');
        let imgg = document.createElement('img');
        let cardbody = document.createElement('div');
        let mb5 = document.createElement('div');


        col12Div.classList.add('col-12');
        cardmb4Div.classList.add("card");
        lightbox.classList.add("lightbox");
        cardbody.classList.add("card-body");
        mb5.classList.add("mb-5");

        col12Div.appendChild(cardmb4Div);
        cardmb4Div.appendChild(lightbox);
        lightbox.appendChild(aimgdet);
        aimgdet.appendChild(imgg);
        col12Div.appendChild(cardbody);
        cardbody.appendChild(mb5);
        console.log(col12Div);




        // <div class="col-12 col-md-12 col-xl-8 col-left">
        //             <div class="card mb-4">
        //                 <div class="lightbox">
        //                     <a href="img/details/5.jpg">
        //                         <img alt="detail" src="img/details/5.jpg" class="responsive border-0 card-img-top mb-3" />
        //                     </a>
        //                 </div>
        //                 <div class="card-body">
        //                     <div class="mb-5">
        //                         <h5 class="card-title">Game Changing Features</h5>
    </script> -->

    <script src="~/js/vendor/jquery-3.3.1.min.js" asp-append-version="true"></script>
    <script src="~/js/vendor/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/vendor/perfect-scrollbar.min.js" asp-append-version="true"></script>
    <script src="~/js/vendor/bootstrap-datepicker.js" asp-append-version="true"></script>
    <script src="~/js/vendor/baguetteBox.min.js" asp-append-version="true"></script>
    <script src="~/js/vendor/jquery.barrating.min.js" asp-append-version="true"></script>
    <script src="~/js/vendor/video.js" asp-append-version="true"></script>
    <script src="~/js/dore.script.js" asp-append-version="true"></script>
    <script src="~/js/scripts.js" asp-append-version="true"></script>
</body>

